:root {
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-base: 1.5;
}

body {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
}
